 /*
	color:#9b59b6;
 */

 /*=========================================

	Basic Setup

 ==========================================*/

 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }


 html {
 	background-color: #fff;
 	color: #555;
 	font-family: 'Kodchasan', sans-serif;
 	font-weight: 300;
 	font-size: 20px;
 	text-rendering: optimizeLegibility;
 }

 .row {
 	max-width: 1140px;
 	margin: 0 auto;
 }

 .row-photos {
 	max-width: 90%;
 	margin: 0 auto;
 }

 section {
 	/*padding: 80px 0;*/
 	/*height: 100vh;*/
 	padding-bottom: 110px !important;

 }

  /*=========================================

 	Header Setup
 	
  ==========================================*/


 header {
 	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/hero-bg.jpg');
 	background-size: cover;
 	background-position: center;
 	background-attachment: fixed;
 	height: 100vh;
 }

 .hero-text-box {
 	position: absolute;
 	width: 1140px;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50% , -50%);
 }

 h1,
 h2 {
 	color: #fff;
 	font-weight: 300;
 }


 h1 {
 	margin-bottom: 15px;
 	margin-top: 20px;
 	font-size: 240%;
 	word-spacing: 2px;
 }

 h2{
 	font-size: 180%;
 	word-spacing: 1px;
 	text-align: center;
 	margin-bottom: 30px;
 	/*margin: 0 auto;*/
 	margin-top: 100px;

 }

 h2:after {
 	display: block;
 	height: 4px;
 	background-color: #9b59b6;
 	content: "";
 	width: 100px;
 	margin: 0 auto;
 	margin-top: 30px;
 }

 .long-copy {
 	line-height: 145%;
 	width: 70%;
 	text-align: center;
 	margin-right: 15%;
 	margin-left: 15%;
 	margin-bottom: 30px;
 }


  /*=========================================

 	Navigation
 	
  ==========================================*/

.logo {
	float: left;
	text-decoration: none;
	margin-top: 40px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 61px;
	transition: .2s;
}  

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 4px solid transparent;
	transition: .2s;

}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 4px solid #9b59b6;
	transition: .2s;
}

/*sticky navigation*/

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 9999;
	box-shadow: 0 2px 2px #9b59b6;
	transition: .2s;
}

.sticky .logo {

	margin-top: 10px;
	margin-bottom: 10px;
}

.sticky .main-nav {

	margin-top: 20px;
	margin-bottom: 20px;
}  

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
}


 /*=========================================

	Logo
	
 ==========================================*/


#logo-txt-pt1{
	color: #9b59b6;
	font-size: 200%;
	/*letter-spacing: 1px;*/
}

#logo-txt-pt2{
	color: #fff;
	font-size: 200%;
	/*letter-spacing: 1px;*/
}

  /*=========================================

 	Buttons Setup
 	
  ==========================================*/

 .btn:link,
 .btn:visited {
 	display: inline-block;
 	padding: 10px 30px;
 	font-weight: 300;
 	text-decoration: none;
 	border-radius: 50px;
 	margin-right: 15px;
 }


 .btn-full:link,
 .btn-full:visited {
 	color: #fff;
 	background-color: #9b59b6;
 	transition: .2s;
 }

 .btn-ghost:link,
 .btn-ghost:visited {
 	color: #9b59b6;
 	border-radius: 50px;
 	border: 1px solid #9b59b6;
 	transition: .2s;
 }


 .btn:hover,
 .button:active {
 	background-color: #d391ee;
 	transition: .2s;
 }


 .btn-ghost:hover,
 .btn-ghost:active {
 	color: #fff;
 	border-radius: 50px;
 	border: 1px solid #d391ee;
 }


  /*=========================================

 	Photos Section
 	
  ==========================================*/


.photo {
	/*background-color: #000;*/
	background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url('../img/photosbg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 0 ;
}


.photo .photos-showcase{
	list-style: none;
	width: 100%;
}


.photo .photos-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.photo .home-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.photo .home-photo img {
	width: 100%;
	height: 280px;
	transform: scale(1.2);
	transition: 2s;	
}

.photo .home-photo img:hover {
	transform: scale(1);
	transition: 2s;
	opacity: 0.1;
}

 /*=========================================

	Contact Section
	
 ==========================================*/

 .contact {
 	background-color: #272727;
 	/*height: 100vh !important;*/
 }

 .contact-form {
 	width: 60%;
 	margin: 0 auto;
 	/*height: 100vh;*/
 }

 input,
 select,
 textarea {
 	width: 100%;
 	padding: 7px;
 	border-radius: 3px;
 	border: 1px solid #9b59b6;
 }


 input[type=submit]{
 	background-color:#9b59b6;
 	color: #fff;
 	transition: .2s;
 	cursor: pointer;
 }

 input[type=submit]:link,
 input[type=submit]:visited{
 	background-color:#9b59b6;
 	color: #fff;
 	transition: .2s;
 }


 input[type=submit]:hover,
 input[type=submit]:active{
 	background-color:#d391ee;
 	color: #fff;
 	transition: .2s;
 }

  /*=========================================

 	Footer
 	
  ==========================================*/

  footer {
  	background-color: #000;
  	padding-top: 20px;
  	padding-bottom:20px; 
  }

  footer p {
  	padding:  0;
  	text-align: center;
  }

  .footer-nav {
  	display: block;
  	list-style: none;
  	float: left;
  }

  .social-links {
  	display: block;
  	list-style: none;
  	float: right;
  }

  .footer-nav li,
  .social-links li {
  	display: inline-block;
  	margin-right: 20px;
  }

  .footer-nav li a {
  	text-decoration: none;
  }


   /*=========================================

  	Animation
  	
   ==========================================*/

   .js--wp-photo-txt {
   	opacity: 0;
   	animation-duration: 1s; 
   }

   .js--wp-main-photos {
   	/*opacity: 0;*/
   	animation-duration: 3s; 
   }

   .js--wp-photo-txt .animated{
   	opacity: 1;
   }

   .js--wp-contact {
	   	opacity: 0;
	   	animation-duration: 1s;
   }

  .js--wp-contact .animated {
   	opacity: 1;
   	/*animation-duration: 1s;*/
   }